main {
	width: 33%;
	position: relative;
	margin: 0 auto;
}
h2 {
	margin-top: 0px;
	margin-bottom: .92rem;
	text-align: left;
}
h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}
main > p {
	margin-top: .61rem;
	text-align: left;
}