h2 {
	margin-top: 0px;
	margin-bottom: 15px;
	text-align: left;
}
h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}
main > p {
	margin-top: 10px;
	text-align: left;
}
#content {
	max-width: 600px;
	margin: 0 auto;
}