main{
	width: 37.5rem;
	margin: 0 auto;
}
h2 {
	margin-top: 0px;
	margin-bottom: 1rem;
	text-align: left;
}
h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}
main > p {
	margin-top: .625rem;
	text-align: left;
}
#content {
	max-width: 37.5rem;
}
@media (max-width: 75rem){
	main {
		margin-top: 9rem;
		width: 100%;
	}
	#content {
		width: 75%;
		margin: 0 auto;
	}
}