* {
	box-sizing: border-box;
}
body {
	font-family: "Brawler";
	background-color: #fcf0e1;
}
h1 {
	margin: 0;
	font-weight: normal;
}
ul {
	list-style-type: none;
}
a:link{
	text-decoration: none;
	color:black;
}
a:visited{
	color:black;
}
a:hover{
	color:grey;
}
.navigation ul {
	display: table;
	width: 110em;
	table-layout: fixed;
	overflow: hidden;
	float: top;
	padding-top: 5px;
}
.navigation li {
	display: table-cell;
	width: 50%;
	text-align: center;
	font-size: 30px;
	font-color: black;
}
.current-page {
	margin-top: 0;
	color: gray;
}
