:root {
	--nav-bar-height: 3.5rem;
}
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	margin: 0;
	font-family: Georgia;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0px;
	word-spacing: -0.4px;
	color: black;
}
body {
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Brawler";
	background-image: linear-gradient(to bottom right, #fcf0e1, #e9d5bc);
	font-size: 1.125rem;
	overflow: auto;
}
main {
	max-width: 75rem;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 5rem;
}
h1 {
	font-weight: normal;
	margin: 0;
}
ul {
	list-style-type: none;
	padding-inline-start: 0;
	margin-block-start: 0;

}
a:link{
	text-decoration: none;
	color:black;
}
a:visited{
	color:black;
}
a:hover {
	color: grey;
}
code {
	background-color: #8f8477;
	border-radius: 4px;
	padding: 0 .5px;
	word-wrap: normal;
	line-height: 125%;
}
#site-navigation {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: var(--nav-bar-height);
	margin: 0;
	background-color: black;
}
#site-navigation-content {
	padding: 0;
	padding-left: 1rem;
	padding-right: 2rem;
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
#nav-socials {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	height: 100%;
}
#nav-socials a {
	height: 100%;
}
#nav-socials img {
	height: 100%;
	padding: calc(.25 * var(--nav-bar-height));
	transition: padding .25s;
}
#logo {
	font-size: 2.5rem;
	color: white;
}
#nav-menu-button {
	height: 2.25rem;
	width: 2.25rem;
	cursor: pointer;
	display: none;
	margin: .625rem 0;
}
#nav-links-block {
	height: 100%;
	display: inline-block;
}
#nav-links {
	display: flex;
	flex-direction: row;
	column-gap: 0;
	align-items: center;
	position: relative;
	top: initial;
	padding: 0;
	border: 0;
	margin: 0;
	width: auto;
	height: 100%;
	z-index: 1;
	white-space: nowrap;
	animation: none;
	font-size: .9rem;
}
#nav-links a {
	color: white;
	padding: 0 .7rem;
	padding-top: calc(.5 * var(--nav-bar-height) - .7rem);
	width: 6rem;
	height: 100%;
	text-align: center;
}
#nav-links a.current {
	border-bottom: 3px solid white;
}
#nav-links a:hover {
	background-color: dimgray;
	color: white;
}
#nav-socials img:hover {
	padding: calc(.125 * var(--nav-bar-height));
}
@media (max-width: 64rem) {
	#nav-socials {
		display: none;
	}
}
@media (max-width: 48rem) {
	#nav-socials {
		display: inline-block;
	}
	#nav-menu-button {
		display: inline-block;
	}
	#nav-links {
		position: fixed;
		display: none;
		flex-direction: column;
		width: 100vw;
		height: calc(100vh - var(--nav-bar-height));
		background-color: black;
		left: 0;
		top: var(--nav-bar-height);
		padding: 5vh 0;
		font-size: 10vw;
	}
	#nav-links a {
		width: 60%;
		margin: 0 20%;
	}
	#nav-links.active {
		display: flex;
	}
}
@media (max-width: 20rem) {
	#nav-socials {
		display: none;
	}
}

/* brawler-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Brawler';
  font-style: normal;
  font-weight: 400;
  src: url('/files/fonts/brawler-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* brawler-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Brawler';
  font-style: normal;
  font-weight: 700;
  src: url('/files/fonts/brawler-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}