body {
	overflow: visible;
}
html {
	overflow-x: scroll;
	overflow-y: hidden;
}
main {
	height: calc(100vh - var(--nav-bar-height));
	max-width: unset;
	margin: 0;
	position: relative;
	overflow: visible;
}
#page-title {
	transform: rotate(270deg);
	font-size: 30vh;
	position: absolute;
	bottom: 30vh;
	left: -20vh;
}
#page-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	height: 100%;
	margin-top: var(--nav-bar-height);
}
#page-desc {
	position: absolute;
	font-size: 5vh;
	left: calc(30vh + 5rem);
	top: 25%;
	width: 125vh;
}
#pic-boxes {
	margin: 7vh 0;
	margin-left: 200vh;
	display: flex;
	align-items: center;
}
.pic-box {
	display: flex;
	height: 100%;
	width: unset;
	justify-content: space-between;
	border-left: 1px solid black;
	padding: 3vh 3rem;
	border-left-style: dotted;
}
.pic-box.top {
	flex-direction: column;
	text-align: right;
}
.pic-box.bottom {
	flex-direction: column-reverse;
	text-align: left;
}
.pic-box img {
	height: 30vh;
	width: 40vh;
	border: .5rem solid black;
	box-shadow: -2px 5px 5px dimgray;	
	border-radius: 10px;
}
.pic-box p {
	width: 40vh;
	font-size: 5vh;
}
/*
.pic-box:hover {
	background-color: black;
	color: white;
}
.pic-box:hover img {
	box-shadow: none;
}
*/
#right-arrow {
	position: fixed;
	right: 1rem;
	height: 5rem;
	top: calc(50% - 5rem);
	transition: opacity 1s;
}