h1 {
	size: .92em;
}
h3 {
	margin-top: 0;
}
main {
	font-size: 1.35rem;
	max-width: 1200px;
	margin: 0 auto;
}
ul {
	padding-inline-start: 0;
}
#content p,h3 {
	max-width: 24.54rem;
}
#content li{
	width: 600px;
	float: left;
}
#main-title {
	font-family: "Brawler";
	font-size: 4em;
	text-align: left;
	position: relative;
	left: 50px;
	bottom: 50px;
}
#title-bar ul {
	max-width: 1200px;
	max-height: 400px;
}
#title-bar li {
	float: left;
	padding-left: 0;
	vertical-align: top;
	margin-top: 0px;
	max-width: 400px;
	max-height: 400px;
}
#main-img {
	position: relative;
	max-width: 600px;
	max-height: auto;
	right: 200px;
	z-index: 1
}
#bbnc {
	position: relative;
	top: 400px;
	z-index: 3;
	padding-left: 0;
}
#bbnc img{
	max-width: 400px;
	max-height: auto;
}
#bbnc li {
	display: block;
	text-align: center;
	font-size: 14px;
} 
#sketch-caption {
	margin-top: 6px;
}
#main-title li{
	margin: 0;
	display: block;
}
#sotw li {
	position: relative;
	top: 220px;
	left: 220px;
}