h3 {
	margin-top: 0;
	font-size: 1.6rem;
}
main {
	font-size: 1.375rem;
	width: 75rem;
	max-width: 75rem;
	padding-bottom: 1rem;
	margin-bottom: 8rem;
	height: auto;
	overflow-x: visible;
}
h2 {
	margin-top: 0;
	margin-bottom: 0;
}
#landing {
	height: 100vh;
	min-height: 30rem;
	padding-top: var(--nav-bar-height);
	position: relative;
}
#main-title {
	text-align: left;
	margin-left: 5vw;
	margin-top: 5vh;
	line-height: 1.25;
}
#hi {
	font-size: 5vw;
	animation: 1.5s ease-out slideInFromLeftOffscreen;
	display: inline-block;
}
#im {
	font-size: 5vw;
	animation: 1.5s ease-out slideInFromRightOffscreen;
	display: inline-block;
}
#isaac {
	font-size: 12vw;
	animation: 2.5s slideInFromBottomBounce;
	display: inline-block;
}
#main-desc {
	font-size: 2vw;
	text-align: right;
	margin-bottom: 0;
	bottom: 27vh;
	right: 5vw;
	position: absolute;
	opacity: 0;
	display: inline-block;
	animation: 3s fade-in-bottom;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
#down-arrow-circled-svg {
	height: 5rem;
	width: 5rem;
	position: absolute;
	bottom: 5%;
	left: calc(50% - 2.5rem);
	opacity: 0;
	animation: fade-in-bottom 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
#circle-path {
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: 105;
  stroke-dataoffset: 105;
  animation: cloud 2s linear;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes cloud {
  from {
  	opacity: 1;
    stroke-dashoffset: 105;
  }
  to {
  	opacity: 1;
    stroke-dashoffset: 0;
  }
}

#main-box {
	padding-top: 2rem;
	height: 56rem;
	padding-bottom: 10rem;
	border-bottom: 1px solid black;
	margin-top: 10rem;
}
#about-me {
	width: 28rem;
	float: left;
	padding-right: 3rem;
	height: 44rem;
}
#pic-blox {
	width: 47rem;
	padding-left: 3rem;
	border-left: 1px solid black;
	height: 44rem;
	float: right;
}
#main-img {
	width: 32rem;
	border: .5rem solid black;
	float: right;
	border-radius: 10px;
	box-shadow: -2px 5px 5px dimgray;

}
#sketch-box {
	height: 24rem;
	width: 24rem;
	bottom: 12rem;
	position: relative;
	border-radius: 10px;
	box-shadow: -2px 5px 5px dimgray;
	overflow: hidden;
}
#sketch {
	width: 24rem;
	position: static;
	display: block;
	float: right;
}
.sketch-button {
	display: none;
	position: absolute;
	width: 3rem;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	opacity: .7;
	background-color: dimgray;
	z-index: 60;
}
.sketch-button img {
	width: 3rem;
}
#left-sketch-button {
	left: 0;
	animation: slideInFromLeft .5s;
}
#right-sketch-button {
	right: 0;
	animation: slideInFromRight .5s;
}
#sketch-index-marker {
	display: none;
	position: absolute;
	bottom: 1rem;
	width: 100%;
	height: 1rem;
	justify-content: center;
	animation: fade-in-bottom .5s;
	z-index: 50;
}
.sketch-index-badge {
	height: 1rem;
	width: 1rem;
	cursor: pointer;
	background-color: white;
	padding: 0 1rem;
	border: 2px solid white;
	border-radius: 100px;
}
.sketch-index-badge.active {
	background-color: black;
}
#sketch-box:hover .sketch-button {
	display: block;
}
#sketch-box:hover #sketch-index-marker{
	display: flex;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);

  }

  100% {
    transform: translateX(0);

  }
}
@keyframes slideInFromRightOffscreen {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeftOffscreen {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottomBounce {
	0% {
		transform: translateY(100vh);
		font-size: 4vw;
	}
	10% {
		transform: translateY(100vh);
		font-size: 12vw;
	}
	20% {
		transform: translateY(100vh);
	}
	70% {
		transform: translateY(-50%) rotate(0deg);
	}
	74% {
		transform: translateY(-50%) rotate(-7deg);
	}
	78% {
		transform: translateY(-50%) rotate(7deg);
	}
	82% {
		transform: translateY(-50%) rotate(-7deg);
	}
	86% {
		transform: translateY(-50%) rotate(7deg);
	}
	90% {
		transform: translateY(-50%) rotate(-7deg);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;

  }
}
#blog-box {
	margin-top: 10rem;
	height: 38rem;
	padding-bottom: 10rem;
	border-bottom: 1px solid black;
	text-align: center;
}
#post-box {
	float: left;
	width: 47rem;
	height: 100%;
	padding-right: 3rem;
}
#post-box h3 {
	margin-bottom: 1rem;
}
#post-box a {
	height: 11rem;
	width: 100%;
	padding: 1.25rem;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	border: .3rem solid black;
	border-radius: 10px;
	color: black;
}
#post-box a span {
	line-height: 2rem;
}
a#most-recent-post {
	width: 92%;
	margin-right: 4%;
	margin-left: 4%;
	margin-bottom: 2%;
	font-size: 2.15rem;
	box-shadow: -2px 5px 5px dimgray;
}
a#second-recent-post {
	width: 45%;
	margin-left: 4%;
	margin-right: 1%;
	float: left;
	font-size: 1.5rem;
	box-shadow: -2px 5px 5px dimgray;
}
a#third-recent-post {
	width: 45%;
	margin-right: 4%;
	margin-left: 1%;
	box-shadow: -2px 5px 5px dimgray;
	float: right;
	font-size: 1.5rem;
}
#post-box a:hover {
	box-shadow: inset -2px 5px 5px dimgray;
	background-color: #e0cfba;
}
#blog-desc {
	width: 28rem;
	height: 100%;
	float: right;
	border-left: 1px solid black;
	text-align: right;
	padding-left: 3rem;
}
#portfolio-box {
	margin-top: 10rem;
	height: 30rem;
	padding-bottom: 10rem;
}
#portfolio-desc {
	width: 20rem;
	padding-right: 3rem;
	float: left;
}

#project-header {
	display:none;
}
#project-box {
	padding-left: 3rem;
	width: 55rem;
	float: right;
	height: 100%;
	display: flex;
	justify-content: space-between;
	border-left: 1px solid black;
}
#project-box a {
	width: 12rem;
	text-align: center;
	padding-top: 2rem;
	color: white;
	background-color: black;
	border-radius: 10px;
	box-shadow: -2px 5px 5px dimgray;
}
#project-box a:hover {
	box-shadow: none;
}
#project-box img {
	margin-top: 2rem;
	border-radius: 10px;
	width: 10rem;
	background-color: white;
}
.scrolled {
	animation: fade-in-bottom .75s ease-out both;
	opacity: 1;
}

@media (max-width: 75rem){
	body {
		overflow: hidden;
		width: 100vw;
	}
	main {
		width: 100%;
		margin-top: 9rem;
		height: auto;
		padding: 0;
		padding-bottom: 3rem;
	}
	#sketch-box {
		display: none;
	}
	#main-box {
		padding: 0 10%;
		border: 0;
		height: auto;
		margin: 0;
		display: inline-block;
	}
	#about-me {
		padding: 0;
		width: 100%;
		height: auto;
	}
	#pic-blox {
		padding: 0;
		border: 0;
		width: 100%;
		height: auto;
	}
	#main-img {
		border: 0;
		width: 100%;
		right: 0;
	}
	#blog-box {
		width: 100vw;
		border: 0;
		height: auto;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		flex-direction: row;
		margin-top: 5rem;
		row-gap: 2rem;
	}
	#post-box {
		order: 2;
		padding: 0;
		width: 50vw;
		flex-basis: 100vw;
	}
	#post-box a {
		padding: .75rem;
		line-height: 1.15;
		font-size: calc(3vw + 8px);
	}
	#post-box a#most-recent-post {
		font-size: calc(3.5vw + 14px);
	}
	#blog-desc {
		order: 1;
		padding: 0;
		border: 0;
		text-align: left;
		margin: 0 5vw;
		width: 70vw;
	}
	#blog-desc h3 {
		text-align: center;
	}
	#project-header {
		display: block;
		float: left;
		width: 80vw;
		margin: 0 10%;
		text-align: center;
		height: auto;
		margin-bottom: 1rem;
		margin-top: 3rem;
	}
	#portfolio-box {
		justify-content: space-around;
		margin-top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: unset;
		margin: 0 2vw;
	}
	#portfolio-desc {
		padding: 0;
		border: 0;
		text-align: left;
		margin: 0 5vw;
		flex-basis: 100%;
		width: 70vw;
	}
	#portfolio-desc h3 {
		text-align: center;
	}
	#project-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		row-gap: 2rem;
		width: 100vw;
		padding: 0;
		border: 0;
	}
	#project-box a {
		width: 12rem;
	}
	#project-header {
		margin-bottom: 2rem;
	}
	#note-box {
		padding: 0 10%;
	}
}

@media (max-width: 48rem) {
	#landing {
		min-height: 100vw;
	}
	#hi {
		font-size: 15vw;
	}
	#im {
		font-size: 15vw;
	}
	#isaac {
		font-size: 25vw;
	}
	#main-desc {
		font-size: 5vw;
	}
}