main {
	width: 100%;
}
main > h1 {
	font-size: 5rem;
	margin-top: 2rem;
	text-align: right;
}
main > p {
	font-size: 1.25rem;
	text-align: right;
	width: 50%;
	float: right;
}
#pic-array {
	height: 26rem;
	width: 63.5rem;
	display: grid;
	grid-template-columns: repeat(10, 6.25rem);
	line-height: 0;
	border: .5rem solid black;
	border-radius: 6.75rem;
	box-shadow: -2px 5px 5px dimgray;

}
#pic-array h2 {
	color: white;
	line-height: 1;
	position: relative;
	text-align: center;
	bottom: 15rem;
	z-index: 105;
	display: none;
}
div#pic-array {
	margin: 0 auto;

}
#food img, a#food {
	border-top-left-radius: 6.25rem;
	border-bottom-left-radius: 6.25rem;
	height: 25rem;
	width: 25rem;
	clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}
a#food:hover img {
	filter: brightness(.5);
}
a#food:hover #food-caption {
	display: grid;
}
#food {
	grid-column: 1;
	grid-row: 1;
}
#food-caption {
	width: 25rem;
}
#film img, a#film{
	height: 25rem;
	width: 25rem;
	clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
a#film:hover img {
	filter: brightness(.5);
}
a#film:hover #film-caption {
	display: grid;
}
#film {
	grid-column: 4;
	grid-row: 1;
}
#film-caption {
	width: 25rem;
}
#else img, a#else {
	border-top-right-radius: 6.25rem;
	border-bottom-right-radius: 6.25rem;
	height: 25rem;
	width: 25rem;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%)
}
a#else:hover img {
	filter: brightness(.5);
}
a#else:hover #else-caption {
	display: grid;
}
#else {
	width: 25rem;
	grid-column: 7;
	grid-row: 1;
}
#else-caption {
	width: 25rem;
}
@media (max-width: 75rem){
	main {
		margin-top: 3.5rem;
		width: 100%;
		height: 300vw;
	}
	main > h1 {
		position: fixed;
		font-size: 10vw;
		text-align: right;
		color: white;
		margin-bottom: 10vw;
		margin-right: 3vw;
		bottom: 0;
		z-index: 200;
	}
	main > p {
		display: none;
	}
	main > h2 {
		margin-block: 0 0;
	}
	#pic-array {
		width: 100%;
		height: 100vw;
		border: 0;
		border-radius: 0;
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(3, 100vw);

	}
	#pic-array img, #pic-array a {
		clip-path: none;
		border-radius: 0;
		width: 100vw;
		height: 100vw;
	}
	#pic-array img {
		filter: brightness(60%);
	}
	#pic-array h2 {
		bottom: 60vw;
		display: grid;
		width: 100%;
		color: #e3e3e3;
	}
	#food {
		grid-column: 1;
		grid-row: 1;
	}
	#film {
		grid-column: 1;
		grid-row: 2;
	}
	#else {
		grid-column: 1;
		grid-row: 3;
	}
}
