main {
	width: 75ren;
}
table{
	border-spacing: .4375rem;
}
.photos img {
	max-width: 100%;
	height: auto;
}
.caption{
	max-width: 100%;
	text-align: left;
}
@media (max-width: 75rem){
	main {
		margin-top: 9rem;
		width: 100%;
	}
	td {
		display: inline-block;
		max-width: 60vh;
	}
}