main {
	max-width: 79rem;
	width: 79rem;
	padding: 0 2rem;
	padding-bottom: 10rem;
}
#page-heading {
	width: 100%;
	font-weight: normal;
	font-size: 3rem;
	text-align: right;
}
#pic-viewer {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	height: 42rem;
	scroll-snap-type: x mandatory;
	border: .5rem solid black;
	border-radius: 10px;
	box-shadow: -2px 5px 5px dimgray;
	background-position: center center;
	position: relative;
}
#pic-boxes {
	padding-left: 20rem;
	height: 35rem;
	width: 100%;
	display: flex;
	align-items: center;
}
#pic-boxes p {
	display: none;
	color: white;
	padding: 0 1rem;
}
.pic-box {
	display: inline-block;
	scroll-snap-align: center;
	text-align: center;
	width: 19.75rem;
	height: auto;
	transition: height .4s, width .4s;
	text-wrap: wrap;
}
.focused {
	height: 30rem !important;
	width: auto;
	margin-top: 0;
	font-size: 1.5rem;
}
.focused p {
	display: block !important;
	background-color: black;
	border-radius: 10px;
	padding-bottom: .5rem;
	padding-top: .5rem;
}
.pic-box img {
	width: inherit;
	height: inherit;
	border-radius: 10px;
	border: .5rem solid black;
}
#pic-viewer::-webkit-scrollbar { 
	padding-top: 5rem;
	height: 1rem;
	width: 80%;
	background-color: transparent;
}
#pic-viewer::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 100px;
}
#filler-pic-box img{
	border: none;
	border-radius: 0;
	visibility: hidden;
}
@media (max-width: 75rem){
	html {
		scroll-snap-type: y mandatory;
	}
	main {
		margin-top: 0;
		padding: 0;
		width: 100vw;
	}
	#page-heading {
		width: 100vw;
		position: fixed;
		z-index: 99;
		float: right;
		color: white;
		top: 2.5rem;
	}
	#pic-viewer {
		overflow: hidden;
		white-space: normal;
		width: 100vw;
		height: auto !important;
		margin: 0;
		border: 0;
		border-radius: 0;
		padding-top: 20rem;
	}
	#pic-boxes {
		overflow: hidden;
		padding: 0;
		margin: 0 auto;
		width: inherit;
		height: 100%;
		display: block;
	}
	.pic-box {
		display: block;
		width: 60vw;
		height: auto !important;
		margin: 0 auto;
		margin-bottom: 30rem;
	}
	#pic-boxes p {
		display: block;
		background-color: black;
		border-radius: 10px;
		padding-bottom: .5rem;
		padding-top: .5rem;
	}
	.focused {
		width: 60vw !important;
		height: auto;
		margin-top: 0;
		font-size: inherit;
	}
}