table{
	width: 73.62rem;
	overflow: hidden;
	position: relative;
	left: 18.4rem;
	border-spacing: 1.23rem;
}
.photos img {
	width: 18.4rem;
	height: auto;
}
.caption{
	padding: .61rem;
	width: 17.18rem;
	text-align: left;
}