main {
	padding: 0 2rem;
	width: 79rem;
	max-width: 79rem;
	line-height: 1.15;
}
.box-text a:link {
	text-decoration: underline;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	float: right;
	text-align: center;
	width: 25rem;
	margin: 0;
}
main p {
	font-size: 1.25rem;
}
.box {
	border-bottom: 1px solid black;
	padding-bottom: 10rem;
	margin-top: 10rem;
	height: 37rem;
}
.box img {
	width: 25rem;
	height: 25rem;
	background-color: white;
	border-radius: 10px;
	border: .5rem solid black;
	box-shadow: -2px 5px 5px dimgray;
}
.box img:hover {
	filter: brightness(80%);
	box-shadow: none;
}
.box-text {
	width: 47rem;
	height: 100%;
}
.text-right img {
	float: left;
	margin-right: 3rem;
}
.text-right .box-text {
	text-align: right;
	float: right;
	padding-left: 3rem;
	border-left: 1px solid black;
}
.text-left img {
	float: right;
	margin-left: 3rem;
}
.text-left .box-text {
	text-align: left;
	float: left;
	padding-right: 3rem;
	border-right: 1px solid black;
	height: 25rem;
}
.scrolled {
	animation: fade-in-bottom .5s ease-out both;
	opacity: 1;
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;

  }
}
@media (max-width: 75rem){
	main {
		margin-top: 9rem;
		width: 100%;
	}
	h5 {
		width: 100%;
		display: inline-block;
	}
	#hint-container {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.box {
		display: block;
		height: auto;
	}
	.text-left .box-text, .text-right .box-text{
		width: 90%;
		padding: 0;
		border: 0;
	}
	.box-text {
		margin: 0 5%;
	}
	.box img {
		float: none;
		width: 100%;
		height: auto;
		margin: 0;
	}
	.box a:not(.box-text a) {
		width: 70%;
		max-width: 25rem;
		margin: 0 auto;
		display: block;
	}
}